---
layout: default
categories: work case_study second feed


title: 봉사단소개
title_long: 봉사단소개
subtitle: IT volunteers Introduce

path: work/campaign_forculture
news_image: feed_img3.jpg
---

<section class=" section_padding">
    <div class='major_section_header content_offset'>
        <div class='headline_content seventy_five'>
            <h1><p><img src="https://kiv.nia.or.kr/images/front/logo.png">봉사단 개요</p></h1>
        </div>
    </div>
    <div class='content_offset image_set'>
    	<figure>

    		<div class='gray'>
    			{% include system/picturefill.html figure='logo_gray.png' %}
    		</div>
    	</figure>

    	<figure class='figure two_col clearfix'>
	    	<div class=' project_column left'>
	    			{% include system/picturefill.html figure='card_front.jpg' %}
	    	</div>
	    	<div class='project_column right'>
	    			{% include system/picturefill.html figure='card_back.jpg' %}
	    	</div>
    	</figure>
    		    	<figure>
	    		{% include system/picturefill.html figure='web_logo.jpg' %}
	    	</figure>
    	    <figure>
    	    	<figcaption>
	    			
	    		</figcaption>
	    		{% include system/picturefill.html figure='inkwell.jpg' %}
	    	</figure>
	    	<figure>
	    		{% include system/picturefill.html figure='happy_hour.jpg' %}
	    	</figure>
	    	<figure>
	    		{% include system/picturefill.html figure='SOL.jpg' %}
	    	</figure>
	    	<figure>
	    		{% include system/picturefill.html figure='atypicallicensing.jpg' %}
	    	</figure>
	    	<figure>
	    		{% include system/picturefill.html figure='besttasteonearth.jpg' %}
	    	</figure>
	    	<figure>
	    		{% include system/picturefill.html figure='inthenews.jpg' %}
	    	</figure>
	    		    	<figure >
    	    	<figcaption>
	    			
	    		</figcaption>
	    		<div class='subtle_border'>
	    		{% include system/picturefill.html figure='web_campaign.jpg' %}
	    	</div>
	    	</figure>
	    	<figure class='subtle_border'>
	    		{% include system/picturefill.html figure='web_news.jpg' %}
	    	</figure>
	    	<figure class='subtle_border'>
	    		{% include system/picturefill.html figure='web_form.jpg' %}
	    	</figure>
	    	 <figure>

	    		{% include system/picturefill.html figure='website.jpg' %}
	    	</figure>

		<div class='project_detailed_info'>
		    <div class='copy_content intro_wrap detailed_intro seventy_five'>
		    	<h2><p>국가간 정보 격차 해소를 통한 디지털 한류 확산</p></h2>
		    </div>
		    <div class='project_detail fifty'>
		    	<p>월드프렌즈 IT 봉사단 파견사업은 국가간 정보격차해소의 일환으로 대한민국의 대학생, IT전문가등 IT인력을 전 세계 개도국에 파견하여 정보화교육, IT-KOREA 홍보등의 다양한 봉사활동을 전개함으로써 국가간 정보격차 해소에 기여하고 있습니다.</p>
		    </div>
		<div class='project_detailed_info'>
		    <div class='copy_content intro_wrap detailed_intro seventy_five'>
		    <h2><p>IT-KOREA 정보화 경험 전수</p></h2>
		    </div>
		    <div class='project_detail fifty'>
		    	<p>국가간 정보격차해소를 위한 개도국의 정보화 촉진 지원사업은 경제규모 세계15위권인 대한민국의 국제적 위상에 걸맞은 국제적 지원활동이며 동시에 IT분야 선도 국가로서 축적된 정보화 노하우와 역량을 발휘할 수 있는 분야입니다.</p>
		    </div>
		<div class='project_detailed_info'>
		    <div class='copy_content intro_wrap detailed_intro seventy_five'>
		     <h2><p>더불어 사는 평등한 정보사회 실현</p></h2>
		    </div>
		    <div class='project_detail fifty'>
		    	<p>21세기 정보기술의 급속한 발전은 정보화 사회로의 이행이라는 기회를 제공하는 한편, 개인간 지역간 국가간 정보 격차로 인한 정보의 습득 및 경제적 기회의 상실, 삶의 질 저하 등 정보화로 인한 위기를 초래하고 있습니다.</p>
		    </div>
	        <div class='project_detailed_info'>
		    <div class='copy_content intro_wrap detailed_intro seventy_five'>
		     <h2><p>글로벌 감각을 지닌 청년 IT인재 육성</p></h2>
		    </div>
		    <div class='project_detail fifty'>
		    	<p>월드프렌즈 IT 봉사단 파견사업은 정부의 '글로벌 청년리더 양성정책'의 일환으로 대한민국 정부가 강력한 의지를 갖고 추진하는 사업입니다.</p>
		    </div>
		</div>
	</div>
</section>
