---
layout: default
categories: work case_study second feed


title: 지원방법
title_long: 지원방법
subtitle: IT volunteers Apply

path: work/campaign_forculture
news_image: news_preview.jpg

---

<section class=" section_padding">
    <div class='major_section_header content_offset'>
        <div class='headline_content seventy_five'>
            <p>봉사단 지원방법</p>
        </div>
    </div>
    <div class='content_offset image_set'>
    	<figure>

    		<div class='gray'>
    			{% include system/picturefill.html figure='logo_gray.png' %}
    		</div>
    	</figure>

    	<figure class='figure two_col clearfix'>
	    	<div class=' project_column left'>
	    			{% include system/picturefill.html figure='card_front.jpg' %}
	    	</div>
	    	<div class='project_column right'>
	    			{% include system/picturefill.html figure='card_back.jpg' %}
	    	</div>
    	</figure>
    		    	<figure>
	    		{% include system/picturefill.html figure='web_logo.jpg' %}
	    	</figure>
    	    <figure>
    	    	<figcaption>
    	    		
	    		</figcaption>
	    		{% include system/picturefill.html figure='inkwell.jpg' %}
	    	</figure>
	    	<figure>
	    		{% include system/picturefill.html figure='happy_hour.jpg' %}
	    	</figure>
	    	<figure>
	    		{% include system/picturefill.html figure='SOL.jpg' %}
	    	</figure>
	    	<figure>
	    		{% include system/picturefill.html figure='atypicallicensing.jpg' %}
	    	</figure>
	    	<figure>
	    		{% include system/picturefill.html figure='besttasteonearth.jpg' %}
	    	</figure>
	    	<figure>
	    		{% include system/picturefill.html figure='inthenews.jpg' %}
</figure>
	    		    	<figure >
   	    	<figcaption>
	    		</figcaption>
	    		<div class='subtle_border'>
	    		{% include system/picturefill.html figure='web_campaign.jpg' %}
	    	</div>
	    	</figure>
	    	<figure class='subtle_border'>
	    		{% include system/picturefill.html figure='web_news.jpg' %}
	    	</figure>
	    	<figure class='subtle_border'>
	    		{% include system/picturefill.html figure='web_form.jpg' %}
	    	</figure>
	    	 <figure>

	    		{% include system/picturefill.html figure='website.jpg' %}
	    	</figure>
	    	

		<div class='project_detailed_info'>
		    <div class='copy_content intro_wrap detailed_intro seventy_five'>
		    
		    </div>
		    <div class='project_detail fifty'>
		    	<p>1. 파견 대상국가 선정 </div>– 당해연도 지원단 파견활동에 대한 종합 활동보고서
</p>
		    </div>
		    <div class='project_detail fifty'>
		    	<p>2. 파견 대상기관 선정 – 파견 대상기관 수요조사 및 정보화 시설현황 조사
</p>
		    </div>
		    <div class='project_detail fifty'>
		    	<p>3. 모집 및 홍보 – 봉사단 모집 공고
</p>
		    </div>
		    <div class='project_detail fifty'>
		    	<p>4. 적격 및 서류 심사 – 온라인 지원신청서 적격 및 서류심사
</p>
		    </div>
		    <div class='project_detail fifty'>
		    	<p>5. 면접 및 발표 – 면접 심사 후 합격자 발표
</p>
		    </div>
		    <div class='project_detail fifty'>
		    	<p>6. 소양교육 – 합격자 대상 파견 전 국내 합숙훈련 실시
</p>
		    </div>
		    <div class='project_detail fifty'>
		    	<p>7. 발대식 – 봉사단 파견 축하 및 격려행사
</p>
		    </div>
		    <div class='project_detail fifty'>
		    	<p>8. 현지 봉사활동 – 정보화 봉사활동 및 IT 민간 교류활동
</p>
		    </div>
		    <div class='project_detail fifty'>
		    	<p>9. 간담회 개최 – 현지 봉사활동 종결 후 활동 평가간담회
</p>
		    </div>
		    <div class='project_detail fifty'>
		    	<p>10. 우수봉사단 시상 – 우수한 현지활동 성과를 보인 팀을 대상으로 수여
</p>
		    </div>
		    <div class='project_detail fifty'>
		    	<p>11. 활동결과보고서 발간 – 당해연도 지원단 파견활동에 대한 종합 활동보고서
</p>
		    </div>
		    <div class='project_detail fifty'>
		    	<p>
</p>
		    </div>
	
		</div>
	</div>
</section>
