---
layout: default
categories: feed work

title: 봉사단경험
title_long: 봉사단경험
subtitle: Volunteers experience

path: work/blue_terminal_iconography
news_image: interface_demo3.jpg


---

<section class=" section_padding">
    <div class='major_section_header content_offset'>
        <div class='headline_content seventy_five'>
            <p>봉사활동을 다녀와서..</p>
        </div>
    </div>
    <div class='content_offset image_set'>

    	<figure class='figure two_col clearfix'>

	    	<div class=' project_column left'>
	    		<div class='black'>
	    			{% include system/picturefill.html figure='logo_black.png' %}
	    		</div>
	    	</div>
	    	<div class='project_column right'>
	    		<div class='gray'>
	    			{% include system/picturefill.html figure='logo_gray.png' %}
	    		</div>
	    	</div>
    	</figure>
    	<figure >
		    {% include system/picturefill.html figure='cards_update.jpg' %}
	   	</figure>
   	    <figure>
    		{% include system/picturefill.html figure='blueterminal.jpg' %}
    	</figure>
	   	<figure >
	   		<figcaption>
    			‘Data-visualization’ logo
    		</figcaption>
	   		<div class='gray'>
		  	  {% include system/picturefill.html figure='dynamic_logo.png' %}
			</div>
	   	</figure>
	   	<figure >
	   		<div class='gray'>
		  	  {% include system/picturefill.html figure='dynamic_logo_result.png' %}
			</div>
	   	</figure>

	   	<figure >
	   		<figcaption>
    			Energy iconography
    		</figcaption>
    		<div class='gray'>
		  	  {% include system/picturefill.html figure='energy_icons.png' %}
		  	</div>
	   	</figure>

	   	<figure >
	   		<figcaption>
    			Dynamic ’energy-label‘ system
    		</figcaption>
		  	  {% include system/picturefill.html figure='dynamic_logo_live.jpg' %}
	   	</figure>
	   	<figure >
    		<div class='gray'>
		  	  {% include system/picturefill.html figure='labelling_system.png' %}
		  	</div>
	   	</figure>
	   	<figure >
	   		<figcaption>
    			Interface iconography
    		</figcaption>
    		<div class='gray'>
		  	  {% include system/picturefill.html figure='interface_iconography.png' %}
		  	</div>
	   	</figure>


   	
		   
		    	<p>처음에는 막연하게 해외 개발도상국으로 IT봉사활동을 하러 간다는 소식에 단순히 제 능력을 시험하고자 지원했었습니다. 그러나 합숙훈련에서의 구체적인 계획이 생겼습니다. 해외에 도착한 날 모든게 낯설었지만 모두 저에겐 신선한 경험이었고 그들에게 저의 미숙한 봉사마저 값지게 느껴질 수 있다는 사실을 알게 되었습니다.
정말 해외에서의 봉사활동이 결국 자기 자신에게 더욱 값지게 다가온다는 것을 알게된 값진 시간이었습니다.
</p>
		    </div>
		    <div class='project_detail fifty'>
		    	<p>QnA</p>
		    </div>
		</div>
    </div>
</section>


