---
layout: default
categories: work case_study second feed


title: 봉사단소개
title_long: 봉사단소개
subtitle: IT volunteers Introduce

path: work/campaign_forculture
news_image: news_preview.jpg

---

<section class=" section_padding">
    <div class='major_section_header content_offset'>
        <div class='headline_content seventy_five'>
            <p>봉사단 개요</p>
        </div>
    </div>
    <div class='content_offset image_set'>
    	<figure>

    		<div class='gray'>
    			{% include system/picturefill.html figure='logo_gray.png' %}
    		</div>
    	</figure>

    	<figure class='figure two_col clearfix'>
	    	<div class=' project_column left'>
	    			{% include system/picturefill.html figure='card_front.jpg' %}
	    	</div>
	    	<div class='project_column right'>
	    			{% include system/picturefill.html figure='card_back.jpg' %}
	    	</div>
    	</figure>
    		    	<figure>
	    		{% include system/picturefill.html figure='web_logo.jpg' %}
	    	</figure>
    	    <figure>
    	    	<figcaption>
	    			Illustrations
	    		</figcaption>
	    		{% include system/picturefill.html figure='inkwell.jpg' %}
	    	</figure>
	    	<figure>
	    		{% include system/picturefill.html figure='happy_hour.jpg' %}
	    	</figure>
	    	<figure>
	    		{% include system/picturefill.html figure='SOL.jpg' %}
	    	</figure>
	    	<figure>
	    		{% include system/picturefill.html figure='atypicallicensing.jpg' %}
	    	</figure>
	    	<figure>
	    		{% include system/picturefill.html figure='besttasteonearth.jpg' %}
	    	</figure>
	    	<figure>
	    		{% include system/picturefill.html figure='inthenews.jpg' %}
	    	</figure>
	    		    	<figure >
    	    	<figcaption>
	    			Website
	    		</figcaption>
	    		<div class='subtle_border'>
	    		{% include system/picturefill.html figure='web_campaign.jpg' %}
	    	</div>
	    	</figure>
	    	<figure class='subtle_border'>
	    		{% include system/picturefill.html figure='web_news.jpg' %}
	    	</figure>
	    	<figure class='subtle_border'>
	    		{% include system/picturefill.html figure='web_form.jpg' %}
	    	</figure>
	    	 <figure>

	    		{% include system/picturefill.html figure='website.jpg' %}
	    	</figure>

		<div class='project_detailed_info'>
		    <div class='copy_content intro_wrap detailed_intro seventy_five'>
		    	<p>봉사활동을 다녀와서..</p>
		    </div>
		    <div class='project_detail fifty'>
		    	<p>처음에는 막연하게 해외 개발도상국으로 IT봉사활동을 하러 간다는 소식에 단순히 제 능력을 시험하고자 지원했었습니다. 그러나 합숙훈련에서의 구체적인 계획이 생겼습니다. 해외에 도착한 날 모든게 낯설었지만 모두 저에겐 신선한 경험이었고 그들에게 저의 미숙한 봉사마저 값지게 느껴질 수 있다는 사실을 알게 되었습니다.
정말 해외에서의 봉사활동이 결국 자기 자신에게 더욱 값지게 다가온다는 것을 알게된 값진 시간이었습니다.
</p>
		    </div>
	
		</div>
	</div>
</section>
