<section class='about_section section_padding'>
	<div class='about_content content_offset'>
		<div class='copy_content seventy_five'>
			<!--<p>Independent designer in Vancouver, BC.</p>-->
			<p>환영합니다!</p>
			<p>저희의 블로그를 방문해주셔서 감사합니다.

저희 블로그의 취지는 월드프렌즈 IT 봉사의 기회를 

널리 알림과 동시에 가고자 하는 분과 갔다온 분들의

교류가 활발히 이루어지기를 소망하는 마음에

제작하였습니다.</p>
			
		</div>
		<div class='meta_info'>
			<span class='meta_title'><a class='' href="mailto:dima@designstudio.io">dima yagnyuk</a></span></br>
		</div>
		<div class='about_projects'><a class='' href="mailto:dima@designstudio.io">dima@designstudio.io</a></div>
	</div>
</section>
